<p id="notice"><%= notice %></p>

<h1>Viewerships</h1>

<table>
  <thead>
    <tr>
      <th>Lecture</th>
      <th>User</th>
      <th>Fully watched vedio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viewerships.each do |viewership| %>
      <tr>
        <td><%= viewership.lecture_id %></td>
        <td><%= viewership.user_id %></td>
        <td><%= viewership.fully_watched_vedio %></td>
        <td><%= link_to 'Show', viewership %></td>
        <td><%= link_to 'Edit', edit_viewership_path(viewership) %></td>
        <td><%= link_to 'Destroy', viewership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viewership', new_viewership_path %>
