<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Vedios Watched </th>
      <th> is_active </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.lecture_counts.count %></td>
        <td> <%= user.is_present  %></td>
         <% if  user.is_present == true %>
        <td><%= link_to 'Block',users_user_update_path({:user_id => user.id}),  method: :put %>
        `<% else %>
        <td><%=  link_to 'Un Block', users_user_unblock_path({:user_id =>user.id}), method: :put %>
        <% end %>

        </td>





      </tr>
    <% end %>
   
  </tbody>
</table>
<br>
