<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scholars - Education, University &amp; LMS HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="/images/fav-icon/icon.png">

  </head>
  <body>
    <div class="main-page-wrapper">

      <!-- ===================================================
        Loading Transition
      ==================================================== -->
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>



      <!-- 
      =============================================
        Theme Header
      ============================================== 
      -->
      <header class="theme-menu-wrapper">
        <div class="header-wrapper">
          <div class="container">
            <!-- Logo -->
            <div class="logo float-left"><a href="index.html"><img src="<%= asset_path 'elearning/images/logo/logo.png' %>"alt="Logo"></a></div>

            <!-- Curt Button -->
            <button class="cart-button float-right">
              <i class="flaticon-cart"></i>
            </button>

            <!-- Search Bar -->
            <div class="search-option float-right">
                <button class="search tran3s dropdown-toggle" id="searchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-search"></i></button>
                <form action="#" class="p-color-bg dropdown-menu tran3s" aria-labelledby="searchDropdown">
                  <input type="text" placeholder="Search....">
                  <button class="p-bg-color"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
             </div> <!-- /.search-option -->

            <!-- ============================ Theme Menu ========================= -->
             <!-- /.theme-main-menu -->
          </div> <!-- /.container -->
        </div>
      </header> <!-- /.theme-menu-wrapper -->
      
      <!-- 
      =============================================
        Theme Inner Banner
      ============================================== 
      -->

      <div class="theme-inner-banner" style="background: url(/elearning/images/home/banner-2.jpg) no-repeat center;background-size:cover;">
        <div class="opacity">
          <div class="container">
            <h3>COURSES</h3>
            <ul>
              <li><a href="/courses">Home</a></li>
              <li>/</li>
              <li>Categories</li>
            </ul>
          </div> <!-- /.container -->
        </div> <!-- /.opacity -->
      </div> <!-- /.theme-inner-banner -->


      
      <!-- 
      =============================================
        Featured Course 2 Column
      ============================================== 
      -->
      <div class="feature-course-2-column">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-xs-12 float-right featured-course">
              <ul class="course-menu">
              </ul>

              <div class="row">
              <% @courses.each do |course| %>
                <div class="col-xs-6">
                
                  <div class="single-course-grid">
                    <div class="image"><img src="/images/course/10.jpg" alt=""></div>
                    <div class="text">
                    
                      <h6><%= link_to course.name, course %></h6>
                      <p><%= course.description %></p>
                      <ul class="clearfix">
                        <li class="float-left"><img src="/images/course/t1.jpg" alt="">Chris</li>
                        <li class="float-left"><i class="fa fa-user" aria-hidden="true"></i> 575</li>
                        <li class="float-right"><a href="#" class="tran3s free hvr-float-shadow">Free</a></li>
                      </ul>
                    </div> <!-- /.text -->
                  </div> <!-- /.single-course-grid -->
                </div> <!-- /.col- -->
                <!-- /.col- -->
                 <!-- /.col- -->
                 <!-- /.col- -->
                 <!-- /.col- -->
                 <!-- /.col- -->
                <% end%>
              </div> <!-- /.row -->

              <ul class="course-pagination">
                <li><a href="" class="tran3s active">1</a></li>
                <li><a href="" class="tran3s">2</a></li>
                <li><a href="" class="tran3s">3</a></li>
                <li><a href="" class="tran3s">Next</a></li>
              </ul>
            </div> <!-- /.featured-course -->

            <div class="col-md-3 col-sm-6 col-xs-12 course-sidebar">
              <form action="#" class="course-sidebar-search">
                <input type="text" placeholder="Search Course...">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>

              <div class="course-sidebar-list">
                <h6>Categories</h6>

                <ul>
                <% @categories.each do |category| %>
                  <li><%= link_to category.name, category %></li>
                </ul>
                <% end %>
              </div>
            </div> <!-- /.course-sidebar -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </div> <!-- /.feature-course-3-column -->



      
      <!-- 
      =============================================
        Footer
      ============================================== 
      -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer-logo">
                <a href="index.html"><img src="<%= asset_path 'elearning/images/logo/logo.png' %>" alt="Logo"></a>
                <p>Scholars provides universal access to the world’s best education, partnering with top universities and organizations to offer courses online.</p>
                <p>&copy; 2017 Scholrs Inc. All rights reserved.</p>
                <ul>
                  <li><a href="https://www.apple.com/itunes/"><img src="/images/logo/android.png" alt=""></a></li>
                  <li><a href="https://play.google.com/store"><img src="/images/logo/apple.png" alt=""></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2 col-sm-3 footer-list">
              <h6>Scholars</h6>
              <ul>
                <li><a href="about-us.html" class="tran3s">About Us</a></li>
                <li><a href="#" class="tran3s">Leadership</a></li>
                <li><a href="#" class="tran3s">Careers</a></li>
                <li><a href="faq.html" class="tran3s">FAQ</a></li>
                <li><a href="contact-us.html" class="tran3s">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-3 footer-list">
              <h6>Product</h6>
              <ul>
                <li><a href="#" class="tran3s">Education Light</a></li>
                <li><a href="#" class="tran3s">Eucation Starter</a></li>
                <li><a href="#" class="tran3s">Eucation Premium</a></li>
                <li><a href="#" class="tran3s">Business</a></li>
                <li><a href="#" class="tran3s">Business Plus</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-6 footer-list">
              <h6>Support</h6>
              <ul>
                <li><a href="#" class="tran3s">Support</a></li>
                <li><a href="#" class="tran3s">Toll Free Number</a></li>
                <li><a href="#" class="tran3s">Open Ticket</a></li>
                <li><a href="#" class="tran3s">System Requirements</a></li>
                <li><a href="#" class="tran3s">Feedback</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-subscribe">
              <h6>Subscribe Us</h6>
              <p>Subscribe us to get all the latest news from us </p>
              <form action="#">
                <input type="text" placeholder="Your Email">
                <button class="p-bg-color hvr-rectangle-out">SEND</button>
              </form>
            </div>
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </footer>

          

          <!-- Scroll Top Button -->
      <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>


  <!-- Js File_________________________________ -->

    <!-- j Query -->
    
    <script type="text/javascript" src="/jquery.2.2.3.min.js"></script>
    <!-- Bootstrap Select JS -->
    <script type="text/javascript" src="/bootstrap-select/dist/js/bootstrap-select.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>

    <!-- Vendor js _________ -->
      <!-- Mega menu  -->
    <script type="text/javascript" src="/bootstrap-mega-menu/js/menu.js"></script>
    
    <!-- WOW js -->
    <script type="text/javascript" src="/WOW-master/dist/wow.min.js"></script>
    <!-- owl.carousel -->
    <script type="text/javascript" src="/owl-carousel/owl.carousel.min.js"></script>
    <!-- Feedback Star -->
    <script type="text/javascript" src="/rateYo-master/src/jquery.rateyo.js"></script>

    <!-- Theme js -->
    <script type="text/javascript" src="/js/theme.js"></script>


    <!-- Fix Internet Explorer ______________________________________-->

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="vendor/html5shiv.js"></script>
      <script src="vendor/respond.js"></script>
    <![endif]-->
      

    </div> <!-- /.main-page-wrapper -->
  </body>
  </html>

