<!DOCTYPE html>
<html>
  <head>
    <title>Prelearing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
  <%= csrf_meta_tags %>
  </head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">E-Learning</a>
    </div>

<% if user_signed_in? %>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
  


  <% if current_user.role?("admin")%>
  <li><a href="/courses">Course</a></li>
  <li><a href="/categories">Categories</a></li>
  <% end %>
    <li><a href="/bookings">Bookings</a></li>  
  <% if current_user.role?("host")%>
    <li><a href="/rooms/myrooms">MyRooms</a></li>
    <li><a href="/rooms/allbookings">MyRoomBookings</a></li>
    <li><a href="/bookings/is_confirmed">UnconfirmedBookings</a></li>

    <% end %>

  <% if current_user.role?("admin") %>

<li><a href="/users/user_count">Users</a></li>


  <% end %>
  <li><a href="/users/edit"><i class="glyphicon glyphicon-user"> <%= current_user.email %></i></a></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
  </div>
  
   <% else %>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/users/sign_up">Register</a></li>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/rooms">Rooms</a></li>
      </ul>
      
  </div>


<% end %>
</nav>

<div class="container">
<div class="row">
<div class="col-md-8">


<div class="form-group">
<%= form_for([@chapter.course, @chapter]) do |form| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :chapter_name, class: "form-control" %>
  </div>

  

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :chapter_position, class: "form-control"%>
  </div>

  <div class="actions"><br />
    <%= form.submit %>
  </div>
<% end %>
</div>

</div>
</div>
</div>

