<!DOCTYPE html>
<html>
  <head>
    <title>Prelearing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
  <%= csrf_meta_tags %>
  </head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Elearning</a>
    </div>

<% if user_signed_in? %>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
  <li><a href="/courses">Course</a></li>
  <li><a href="/permissions">permission</a></li>
  <li><a href="/categories">Categories</a></li>
  <li><a href="/users/user_count">Users</a></li>
  <li><a href="/users/edit"><i class="glyphicon glyphicon-user"> <%= current_user.email %></i></a></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
  </div>
  
   <% else %>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/users/sign_up">Register</a></li>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/rooms">Rooms</a></li>
      </ul>
      
  </div>


<% end %>
</nav>

<div class="row">
<div class="col-md-8">
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Viewed vedios</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.lecture_counts.count %></td>
        <td> <%= user.is_present  %></td>

         <% if  user.is_present == true %>
        <td><%= link_to 'Block',users_user_update_path({:user_id => user.id}),  method: :put %>
        `<% else %>
        <td><%=  link_to 'Un Block', users_user_unblock_path({:user_id =>user.id}), method: :put %>
        <% end %>




      </tr>
    <% end %>
   
  </tbody>
</table>

</div>
</div>